<div class="accent-bar full-width"></div>

<style lang="scss">
  @use "sass:map";
  @use "sass:math";

  @keyframes gradient {
    0%,
    100% {
      background-color: var(--rosewater);
    }
    #{ math.div(100, 14) * 1% } {
      background-color: var(--flamingo);
    }
    #{ math.div(100, 14) * 2% } {
      background-color: var(--pink);
    }
    #{ math.div(100, 14) * 3% } {
      background-color: var(--mauve);
    }
    #{ math.div(100, 14) * 4% } {
      background-color: var(--red);
    }
    #{ math.div(100, 14) * 5% } {
      background-color: var(--maroon);
    }
    #{ math.div(100, 14) * 6% } {
      background-color: var(--peach);
    }
    #{ math.div(100, 14) * 7% } {
      background-color: var(--yellow);
    }
    #{ math.div(100, 14) * 8% } {
      background-color: var(--green);
    }
    #{ math.div(100, 14) * 9% } {
      background-color: var(--teal);
    }
    #{ math.div(100, 14) * 10% } {
      background-color: var(--sky);
    }
    #{ math.div(100, 14) * 11% } {
      background-color: var(--sapphire);
    }
    #{ math.div(100, 14) * 12% } {
      background-color: var(--blue);
    }
    #{ math.div(100, 14) * 13% } {
      background-color: var(--lavender);
    }
  }

  .accent-bar {
    width: 100%;
    height: 8px;

    background-color: var(--mauve);

    animation: gradient 20s linear infinite forwards;

    @media (prefers-reduced-motion: true) {
      background-image: linear-gradient(
        90deg,
        var(--rosewater),
        var(--flamingo),
        var(--pink),
        var(--mauve),
        var(--red),
        var(--maroon),
        var(--peach),
        var(--yellow),
        var(--green),
        var(--teal),
        var(--sky),
        var(--sapphire),
        var(--blue),
        var(--lavender)
      );
      background-size: 100%;
      animation: none;
    }
  }
</style>
