---
import Link from "@components/Link.svelte";
import SpeakerHighVolume from "@data/icons/speaker-high-volume.svg";
import VercelBadge from "@data/icons/vercel-badge.svg";

import { footerLinks } from "@data/links";
---

<footer>
  {
    footerLinks.map(({ categoryTitle, categoryLinks }) => (
      <nav>
        <p>
          <strong>{categoryTitle}</strong>
        </p>
        <ul>
          {categoryLinks.map(({ title, target }) => (
            <li>
              <Link href={target}>{title}</Link>
            </li>
          ))}
        </ul>
      </nav>
    ))
  }

  <div class="rights-notice">
    <div>
      <p><strong>Catppuccin</strong></p>
      <p class="divider">•</p>
      <span>/ˌkætpʊˈtʃiːn/</span>
      <button
        class="play-pronunciation"
        aria-label="Play pronunciation"
        onclick="document.querySelector('#pronunciation').play();">
        <SpeakerHighVolume width={20} height={20} fill="currentColor" />
      </button>
      <audio id="pronunciation"><source src="/pronunciation.mp3" type="audio/mpeg" /></audio>
    </div>
    <p>
      catppuccin.com is built and maintained by the community at <Link
        href="https://github.com/catppuccin/website"
        muted>catppuccin/website</Link
      >.
    </p>
    <p>
      &copy; {new Date(Date.now()).getFullYear()} • <Link href="/licensing" muted>Licensing</Link>
    </p>
    <Link href="https://vercel.com/?utm_source=Catppuccin&utm_campaign=oss" externalIcon={false}>
      <VercelBadge id="vercel" height={40} />
    </Link>
  </div>

  <style lang="scss">
    @use "@styles/utils";

    footer {
      @include utils.flex($gap: var(--space-md));
      justify-content: space-between;

      font-size: 1.6rem;
      color: var(--subtext0);
    }

    nav ul {
      margin: 0 0 var(--space-xs) 0;
      padding: 0;
      list-style: none;
    }

    .rights-notice {
      max-width: 40ch;
      div {
        display: flex;
      }
    }

    .divider {
      margin-right: 1ch;
      margin-left: 1ch;
    }

    .play-pronunciation {
      border: none;
      background: none;
      color: inherit;
      align-self: baseline;

      &:hover {
        cursor: pointer;
      }
    }

    #vercel {
      margin-block-start: var(--space-xs);
    }
  </style>
</footer>
