---
import SpeakerHighVolume from "@data/icons/speaker-high-volume.svg";
import ThemeSwitcher from "@components/ThemeSwitcher.svelte";

import { footerLinks } from "@data/links";
---

<footer>
  {
    footerLinks.map(({ categoryTitle, categoryLinks }) => (
      <nav>
        <p>
          <strong>{categoryTitle}</strong>
        </p>
        <ul class={categoryTitle.toLowerCase()}>
          {categoryLinks.map(({ title, target }) => (
            <li>
              <a href={target}>{title}</a>
            </li>
          ))}
        </ul>
      </nav>
    ))
  }

  <div class="rights-notice">
    <div>
      <p><strong>Catppuccin</strong></p>
      <p class="divider">•</p>
      <span>/ˌkætpʊˈtʃiːn/</span>
      <button
        class="play-pronunciation"
        aria-label="Play pronunciation"
        onclick="document.querySelector('#pronunciation').play();">
        <SpeakerHighVolume width={20} height={20} fill="currentColor" />
      </button>
      <audio id="pronunciation"><source src="/pronunciation.mp3" type="audio/mpeg" /></audio>
    </div>
    <p>
      catppuccin.com is built and maintained by the community at <a href="https://github.com/catppuccin/website"
        >catppuccin/website</a
      >.
    </p>
    <p>
      &copy; {new Date(Date.now()).getFullYear()} • <a href="/licensing">Licensing</a>
    </p>
    <ThemeSwitcher client:load />
  </div>

  <style lang="scss">
    @use "@styles/utils";

    footer {
      @include utils.flex($gap: var(--space-md));
      justify-content: space-between;

      font-size: 1.6rem;
      color: var(--subtext0);
    }

    nav ul {
      margin: 0 0 var(--space-xs) 0;
      padding: 0;
      list-style: none;
    }

    .project {
      li:nth-last-child(2) {
        margin-block-start: 0.2em;
        padding-block-start: 0.2em;
        border-top: 1px solid var(--overlay0);
      }
    }

    .rights-notice {
      max-width: 40ch;
      div {
        display: flex;
      }
    }

    .divider {
      margin-right: 1ch;
      margin-left: 1ch;
    }

    .play-pronunciation {
      border: none;
      background: none;
      color: inherit;
      align-self: baseline;

      &:hover {
        cursor: pointer;
      }
    }
  </style>
</footer>
