---
import Default from "@layouts/Default.astro";

import { currentMaintainers } from "@data/ports";

import PageIntro from "@components/PageIntro.astro";
import Link from "@components/Link.svelte";

import TeamName from "./_components/TeamName.astro";
import Users, { type Person } from "./_components/Users.astro";
---

<Default
  title="Community • Catppuccin"
  description="View the Catppuccin community! Learn about our teams, their roles, and how every contributor, including you, is at the heart of our project.">
  <PageIntro title="Community">
    <p>
      Catppuccin is not led by one person, 4 main teams are responsible for various different aspects of the project.
    </p>
    <p>
      <strong>And of course you!</strong> Whether you maintain your own port; have contributed via a pull request; or raised
      an issue. The community is at the heart and soul of Catppuccin.
    </p>
  </PageIntro>

  <section>
    <h2>Teams</h2>

    <h3><TeamName team="core" color="teal">Core</TeamName></h3>
    <p>
      Owners of the GitHub organisation. <strong>Responsible for org-wide matters.</strong>
    </p>
    <div class="user-grid">
      <Users
        users={[
          { url: "https://github.com/pocco81", name: "Pocco" },
          { url: "https://github.com/unseen-ninja", name: "Lemon" },
          { url: "https://github.com/sgoudham", name: "Hammy" },
          { url: "https://github.com/backwardspy", name: "pigeon" },
        ]}
      />
    </div>

    <h3><TeamName team="staff" color="mauve">Staff</TeamName></h3>
    <p>
      Maintainers of all GitHub repositories.
      <strong>Responsible for assisting core maintainers in their activities.</strong>
    </p>
    <div class="user-grid">
      <Users
        users={[
          { url: "https://github.com/ghostx31", name: "Spooky" },
          { url: "https://github.com/taka0o", name: "Taka" },
          { url: "https://github.com/isabelincorp", name: "Isabel" },
          { url: "https://github.com/nullishamy", name: "Amy" },
        ]}
      />
    </div>

    <h3><TeamName team="userstyles" color="green">userstyles Staff</TeamName></h3>
    <p>
      Overseers of all userstyles in
      <Link href="https://github.com/catppuccin/userstyles">catppuccin/userstyles</Link>.
      <strong>Responsible for all matters regarding userstyles.</strong>
    </p>
    <div class="user-grid">
      <Users
        users={[
          { url: "https://github.com/isabelroses", name: "Bell" },
          { url: "https://github.com/uncenter", name: "uncenter" },
        ]}
      />
    </div>

    <h3><TeamName team="moderator" color="peach">Moderator</TeamName></h3>
    <p>
      Moderators of the Discord server.
      <strong>Responsible for moderating the community.</strong>
    </p>
    <div class="user-grid">
      <Users
        users={[
          { url: "https://github.com/nyxkrage", name: "Nyx" },
          { url: "https://github.com/jolheiser", name: "Etzelia" },
          { url: "https://github.com/isabelroses", name: "Bell" },
        ]}
      />
    </div>
  </section>

  <section>
    <h2>Maintainers</h2>
    <p>
      Maintainers of ports and userstyles, {currentMaintainers.length} in total.
      <strong>Responsible for the upkeep of their respective repositories.</strong>
    </p>
    <div class="user-grid">
      <Users
        users={currentMaintainers.map(
          (maintainer) =>
            ({
              url: maintainer.url,
              name: maintainer.name ?? maintainer.url.split("/").pop(),
            }) as Person,
        )}
      />
    </div>
  </section>
</Default>

<style lang="scss">
  @use "@styles/utils";

  :root {
    --accent-color: var(--green);
  }
  h3 {
    margin-top: var(--space-sm);
  }

  .user-grid {
    @include utils.grid($column: 250px, $gap: var(--space-md));
  }
</style>
