---
import LayoutWithClampedFooter from "@layouts/LayoutWithClampedFooter.astro";
import { getCollection } from "astro:content";
import PageIntro from "@components/PageIntro.astro";
import ArticleCard from "@components/cards/Article.astro";

const description = "Blog posts related to Catppuccin, ranging from announcements, devlogs, general musings and more!";
const blogPosts = await getCollection("blog");
---

<LayoutWithClampedFooter title="Blog • Catppuccin" {description}>
  <PageIntro title="Blog">
    <p>{description}</p>
  </PageIntro>

  <section class="bloglist">
    {blogPosts.filter((post) => !post.data.draft).map((post) => <ArticleCard {post} />)}
  </section>
</LayoutWithClampedFooter>

<style lang="scss">
  @use "../../styles/utils";

  :root {
    --accent-color: var(--blue);
  }
</style>

<style lang="scss" is:global>
  @use "../../styles/utils";
  .bloglist {
    @include utils.grid($column: 300px, $gap: var(--space-sm));
  }
</style>
