---
import { getCollection } from "astro:content";
import PageIntro from "@components/PageIntro.astro";
import ArticleCard from "./_components/ArticleCard.astro";
import Default from "@layouts/Default.astro";

const description = "Blog posts related to Catppuccin, ranging from announcements, devlogs, general musings and more!";
const blogPosts = await getCollection("blog");
---

<Default title="Blog • Catppuccin" {description} enableViewTransition>
  <PageIntro title="Blog">
    <p>{description}</p>
  </PageIntro>

  <section class="bloglist">
    {blogPosts.filter((post) => !post.data.draft).map((post) => <ArticleCard {post} />)}
  </section>
</Default>

<style lang="scss">
  @use "@styles/utils";

  :global(.bloglist) {
    @include utils.grid($column: 300px, $gap: var(--space-sm));
  }

  :root {
    --accent-color: var(--blue);
  }
</style>
