---
import { ports } from "@data/ports";

import Default from "@layouts/Default.astro";

import PageIntro from "@components/PageIntro.astro";
import Link from "@components/Link.svelte";

import PortExplorer from "./_components/PortExplorer.svelte";
import PortCard from "./_components/PortCard.svelte";
---

<Default
  title="Ports • Catppuccin"
  description="Explore Catppuccin's extensive range of ports. From applications and tools to websites, we have a port for just about anything!">
  <PageIntro title="Ports">
    <p>
      Catppuccin provides <strong>{ports.length}</strong> ports, covering a wide range of applications, tools, websites,
      and just about anything you can imagine!
    </p>
  </PageIntro>

  <!-- Display ports without search bar for browsers without JavaScript enabled -->
  <noscript>
    <div class="port-grid">
      {ports.map((port) => <PortCard {port} />)}
    </div>
  </noscript>

  <PortExplorer {ports} client:only="svelte">
    <svelte:fragment slot="no-results">
      <p>Sorry, we couldn't find any ports matching your search :(</p>
      <p>
        You can request a port to be themed by raising a
        <Link
          href="https://github.com/catppuccin/catppuccin/discussions/new?category=port-requests"
          external
          slot="link">port request in catppuccin/catppuccin</Link
        >
        .
      </p>
    </svelte:fragment>
  </PortExplorer>
</Default>

<style lang="scss" is:global>
  @use "@styles/utils";

  :root {
    --accent-color: var(--peach);
  }

  .port-grid {
    @include utils.grid($column: 300px, $gap: var(--space-sm));
  }
</style>
