@use "utils";

@keyframes btnFadeOut {
  to {
    background-color: var(--surface0);

    color: var(--text);
  }
}

.btn-group {
  display: flex;
  gap: var(--space-xs);
  flex-wrap: wrap;
}

.btn {
  @include utils.containerPadding(xs-y);

  border-radius: 9999px;
  border: none;
  background-color: var(--surface0);

  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text);

  cursor: pointer;

  transition:
    opacity 225ms cubic-bezier(0, 0, 0, 1),
    translate 225ms cubic-bezier(0, 0, 0, 1),
    scale 150ms cubic-bezier(0, 0, 0, 1),
    background 225ms cubic-bezier(0, 0, 0, 1);

  will-change: opacity, scale;

  // State layer
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: currentColor;
    transition: opacity 50ms linear;
    opacity: 0;

    will-change: opacity;
  }

  @media (hover: hover) {
    &:hover {
      &::after {
        opacity: 0.1;
      }
    }
  }

  &:active {
    scale: 0.95;
    &::after {
      opacity: 0.18;
    }
  }

  &-small {
    @include utils.containerPadding(xxs);

    border-radius: var(--border-radius-normal);
  }

  &-transparent {
    background-color: transparent;
  }

  &-has-icon {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
  }

  &-peach,
  &-mauve,
  &-green,
  &-blue {
    background-size: 150% 100%;
    background-repeat: no-repeat;
    background-position: top left;

    font-weight: 600;
    color: var(--inverted-text);

    &:hover {
      background-position: 100% 100%;
    }
    &::after {
      background-color: var(--text);
    }
  }

  &-peach {
    background-color: var(--peach);
    background-image: linear-gradient(120deg, var(--peach), var(--red));
  }

  &-mauve {
    background-color: var(--mauve);
    background-image: linear-gradient(120deg, var(--pink), var(--mauve));
  }

  &-green {
    background-color: var(--green);
    background-image: linear-gradient(120deg, var(--teal), var(--green));
  }

  &-blue {
    background-color: var(--blue);
    background-image: linear-gradient(120deg, var(--blue), var(--sky));
  }

  &-success {
    background-color: var(--green);

    color: var(--inverted-text);

    animation: btnFadeOut 350ms linear forwards;
    animation-delay: 500ms;
  }
}
