@use "utils";

@keyframes btnFadeOut {
  to {
    background-color: var(--surface0);

    color: var(--text);
  }
}

.btn-group {
  display: flex;
  gap: var(--space-xs);
  flex-wrap: wrap;
}

.btn {
  @include utils.containerPadding(xs-y);

  border-radius: 9999px;
  border: none;
  background-color: var(--surface0);

  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text);

  transition: all 350ms ease-in-out;
  cursor: pointer;

  --focus-ring-offset: 2px;

  &-small {
    @include utils.containerPadding(xxs);

    border-radius: var(--border-radius-normal);
  }

  &-transparent {
    background-color: transparent;
  }

  &-transparent:hover,
  &-transparent:focus {
    background-color: color-mix(in srgb, transparent, var(--text) 10%);
  }

  &-has-icon {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
  }

  &:is(a) {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &-peach,
  &-mauve,
  &-green,
  &-blue {
    background-color: var(--filled-btn-start);
    background-image: linear-gradient(120deg, var(--filled-btn-start), var(--filled-btn-end));

    background-size: 150% 100%;
    background-position: top left;

    font-weight: 600;
    color: var(--inverted-text);

    --focus-ring-color: var(--filled-btn-start);

    &:hover {
      background-position: top right;
    }
  }

  &-peach {
    --filled-btn-start: var(--peach);
    --filled-btn-end: var(--red);
  }

  &-mauve {
    --filled-btn-start: var(--pink);
    --filled-btn-end: var(--mauve);
  }

  &-green {
    --filled-btn-start: var(--teal);
    --filled-btn-end: var(--green);
  }

  &-blue {
    --filled-btn-start: var(--blue);
    --filled-btn-end: var(--sky);
  }

  &-success {
    background-color: var(--green);

    color: var(--inverted-text);

    animation: btnFadeOut 350ms linear forwards;
    animation-delay: 500ms;
  }
}

.btn,
.btn * {
  transition: background-position 350ms ease-in-out;
}
