@use "@catppuccin/palette/scss/catppuccin" as *;
@use "sass:string";
@use "sass:map";

$theme-data: (
  "latte": (
    "scheme": light,
    "inverted-text": var(--base),
    "selection-color": var(--blue),
  ),
  "macchiato": (
    "scheme": dark,
    "inverted-text": var(--crust),
    "selection-color": var(--mauve),
  ),
  "frappe": (
    "scheme": dark,
    "inverted-text": var(--crust),
    "selection-color": var(--mauve),
  ),
  "mocha": (
    "scheme": dark,
    "inverted-text": var(--crust),
    "selection-color": var(--mauve),
  ),
);

@mixin theme($flavor) {
  @each $color, $value in map.get($palette, $flavor) {
    --#{$color}: #{$value};
  }
  --inverted-text: #{map.get(map.get($theme-data, $flavor), "inverted-text")};
  --selection-color: #{map.get(map.get($theme-data, $flavor), "selection-color")};
}

:where([data-theme="system"]) {
  color-scheme: light dark;
  @include theme("latte");
  @media (prefers-color-scheme: dark) {
    @include theme("mocha");
  }
}

@each $flavor, $data in $theme-data {
  :where([data-theme="#{$flavor}"]) {
    color-scheme: map.get($data, "scheme");
    @include theme($flavor);
  }
}
