*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  color-scheme: light dark;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    transition: none !important;
  }
  html {
    scroll-behavior: auto;
  }
}

:root {
  --website-max-width: 1600px;

  --border-radius-normal: 6px;
  --border-radius-large: 12px;

  --base-unit: 1em;

  --space-xxs: calc(0.25 * var(--base-unit));
  --space-xs: calc(0.5 * var(--base-unit));
  --space-sm: calc(0.75 * var(--base-unit));
  --space-md: calc(1.25 * var(--base-unit));
  --space-lg: calc(2 * var(--base-unit));
  --space-xl: calc(3.25 * var(--base-unit));
  --space-xxl: calc(5.25 * var(--base-unit));

  --padding-body: clamp(20px, 5vw, 500px);
}

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  background-color: var(--base);
}

section + section {
  margin-block-start: var(--space-xl);
}

.content-wrapper {
  container-type: inline-size;
  width: 100%;
  max-width: calc(2 * var(--padding-body) + var(--website-max-width));
  padding: var(--space-md) var(--padding-body);
  margin-inline: auto;
}

.no-padding {
  padding-block: 0;
}

.header-container {
  padding-block: var(--space-md);
}

.footer-container {
  margin-block-start: var(--space-xl);

  background-color: var(--mantle);

  .content-wrapper {
    padding-block: var(--space-lg);
  }
}
