@use "./utils";

table {
  width: 100%;
  min-width: max-content;
  overflow-y: scroll;

  text-align: left;

  tr:nth-child(odd):not(:first-child) {
    background-color: color-mix(in srgb, var(--mantle), var(--crust) 50%);
  }

  th,
  td {
    @include utils.containerPadding(xs-y);
  }

  th + th,
  td + td {
    padding-inline-start: var(--space-lg);
  }

  th {
    border-bottom: 1px solid var(--surface0);

    font-size: 80%;
    font-weight: 500;
    color: var(--subtext0);
  }

  tr th:not(:first-child),
  tr td:not(:first-child) {
    text-align: right;
  }

  tbody td {
    padding-right: 0;
  }
}
