#toasts {

  position: fixed;
  top: var(--padding-body); right: var(--padding-body);
  z-index: 999;

  display: flex; flex-direction: column;
  align-items: flex-end;
  gap: var(--spacing-xs);

  font-size: 80%; font-weight: 600;

}



.toast {

  --__status-color: var(--status-color, var(--mantle));


  padding: var(--spacing-xs) var(--spacing-s);

  border-radius: var(--border-radius-normal);
  border-right: var(--border-radius-normal) solid var(--__status-color);
  background-color: color-mix(
    in srgb,
    var(--mantle),
    var(--__status-color) 10%
  );
  opacity: 0;

  text-align: right;

  transition: opacity 350ms;

}


.toast.visible { opacity: 1; }
