@use "./utils";

@font-face {
  font-family: "Inter";
  src: url("/inter.woff2") format("woff2-variations");

  font-display: swap;
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/inter.woff2") format("woff2-variations");

  font-display: swap;
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: oblique;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  font-size: clamp(15px, 4vw, 2rem);
  color: var(--subtext1);
  font-weight: 400;
  line-height: 1.5;
}

::selection {
  background-color: color-mix(in srgb, var(--selection-color), transparent 70%);
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

b {
  font-weight: 600;
}

h1 {
  font-weight: 900;
  line-height: 1.2;
}
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding-block: var(--space-xs) var(--space-xs);

  color: var(--text);
}

h1 {
  font-size: clamp(28px, 6vw, 250%);
}
h2 {
  font-size: clamp(24px, 5vw, 175%);
}
h3 {
  font-size: clamp(22px, 4.25vw, 125%);
}
h4 {
  font-size: clamp(20px, 4vw, 100%);
}
h5 {
  font-size: clamp(16px, 3.2vw, 80%);
}

summary {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;

    margin: 0;
    padding: 0;
  }
}

p,
ul,
ol {
  margin-block: 0 var(--space-xs);
}
li {
  margin: 0;
}

a {
  transition: color 250ms ease-in-out;

  text-decoration: none;

  color: var(--blue);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

blockquote {
  margin-inline: 0;
  margin-block-end: 2em;
  padding-inline-start: 2em;
  position: relative;
  overflow: hidden;
  quotes: "\201C" "\201D" "\2018" "\2019";

  p,
  cite {
    margin: 0;
  }

  &::before,
  &::after {
    position: absolute;
    color: var(--accent-color);
  }

  &::before {
    content: "\275E";
    left: 0;
    font-size: 1.5em;
  }

  &::after {
    content: "";
    left: 0.6em;
    top: 2em;
    width: 1px;
    height: 100%;
    background-color: currentColor;
  }
}

blockquote cite {
  display: block;
  margin-top: 1em;
  font-size: 80%;
}

code {
  padding-inline: var(--space-xxs);
  max-width: 100%;

  border-radius: var(--border-radius-normal);
  background-color: var(--surface0);

  font-family: monospace;
  font-size: 90%;

  overflow-x: scroll;
}
