@use "./utils";

@font-face {
  font-family: "Inter";
  src: url("/inter.woff2") format("woff2-variations");

  font-display: swap;
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  font-size: clamp(15px, 4vw, 2rem);
  color: var(--subtext1);
  font-weight: 400;
  line-height: 1.5;
}

::selection {
  background-color: color-mix(in srgb, var(--selection-color), transparent 70%);
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

b {
  font-weight: 600;
}

h1 {
  font-weight: 900;
  line-height: 1.2;
}
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding-block: var(--space-xs) var(--space-xs);

  color: var(--text);
}

h1 {
  font-size: clamp(28px, 6vw, 250%);
}
h2 {
  font-size: clamp(24px, 5vw, 175%);
}
h3 {
  font-size: clamp(22px, 4.25vw, 125%);
}
h4 {
  font-size: clamp(20px, 4vw, 100%);
}
h5 {
  font-size: clamp(16px, 3.2vw, 80%);
}

summary {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;

    margin: 0;
    padding: 0;
  }
}

p,
ul,
ol {
  margin-block: 0 var(--space-xs);
}
li {
  margin: 0;
}

a {
  transition: color 250ms ease-in-out;

  text-decoration: none;

  color: var(--blue);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

pre:has(code) {
  margin: 0;
  @include utils.containerPadding(xs);
  max-width: 100%;
  overflow-x: scroll;

  border-radius: var(--border-radius-normal);
  background-color: var(--crust);

  line-height: 1.2;

  code {
    margin: 0;
    padding: 0;
  }
}

code {
  padding-inline: var(--space-xxs);
  max-width: 100%;

  border-radius: var(--border-radius-normal);
  background-color: var(--crust);

  font-family: monospace;
  font-size: 80%;

  overflow-x: scroll;
}
