@import "catppuccin-highlight.css";
@import url(https://fonts.bunny.net/css?family=epilogue:200,300,400,700,800,900|work-sans:100,200,300,700,800,900|fira-code:400,700|inter:300,400,500,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  html,
  body {
    @apply bg-base text-text;
  }

  .anim-gradient {
    background: linear-gradient(
      300deg,
      rgb(var(--ctp-red)),
      rgb(var(--ctp-peach)),
      rgb(var(--ctp-yellow)),
      rgb(var(--ctp-green)),
      rgb(var(--ctp-blue)),
      rgb(var(--ctp-mauve))
    );
    background-size: 360% 360%;
    animation: gradient-animation 36s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
}
