@use "sass:math";

$base-size: 3;

@function border-radius($size: sm) {
  @if $size == sm {
    @return $base-size * 2px;
  }
  @if $size == lg {
    @return $base-size * 4px;
  }
}

@function space($size: md) {
  @if $size == xs {
    @return math.div($base-size, 10) * 1rem;
  }
  @if $size == sm {
    @return math.div($base-size, 10) * 2rem;
  }
  @if $size == md {
    @return math.div($base-size, 10) * 4rem;
  }
  @if $size == lg {
    @return math.div($base-size, 10) * 8rem;
  }
  @if $size == xl {
    @return math.div($base-size, 10) * 16rem;
  }
  @if $size == 2x {
    @return math.div($base-size, 10) * 22rem;
  }
  @if $size == 3x {
    @return math.div($base-size, 10) * 48rem;
  }
  @if $size == 4x {
    @return math.div($base-size, 10) * 64rem;
  }
}

@function font-size($size: m) {
  @if $size == xs {
    @return 79%;
  }
  @if $size == sm {
    @return 88%;
  }
  @if $size == md {
    @return 100%;
  }
  @if $size == lg {
    @return 112%;
  }
  @if $size == xl {
    @return 126%;
  }
  @if $size == 2x {
    @return 142%;
  }
  @if $size == 3x {
    @return 160%;
  }
  @if $size == 4x {
    @return 202%;
  }
  @if $size == 5x {
    @return 248%;
  }
}

@mixin flexbox($direction: row, $gap: space(md)) {
  display: flex;
  gap: $gap;
  flex-direction: $direction;
  @content;
}

@mixin grid-old($column: 250px, $gap: space(md)) {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax($column, 1fr));
  gap: $gap;
}

@mixin auto-grid($column: 250px) {
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax($column, 1fr));
}

@mixin grid($gap: space(md), $column: null) {
  display: grid;
  gap: $gap;
  @if $column {
    @include auto-grid($column);
  }
  @content;
}
