---
import type { ColorName } from "@catppuccin/palette";
import maintainersWithoutAvatars from "../../lib/maintainersWithoutAvatars.json";

import Link from "../Link.svelte";
import Avatar from "../lists/Avatar.svelte";

const isProd = import.meta.env.PROD;

interface Props {
  url: string;
  name: string;
  color?: ColorName;
}

const { name, color } = Astro.props;
const href = isProd ? Astro.props.url : "https://github.com/sgoudham";
const username = href.split("/").pop() as string;
const isPlaceholder = (maintainersWithoutAvatars as string[]).includes(username);
---

<div class="card-user" style={`--user-color: var(--${color})`}>
  <Link {href} external>
    <Avatar {username} size={256} wxh={128} />
    <br />
    <span class=`user-name ${isPlaceholder ? "placeholder" : ""}`>{name}</span></Link
  >
</div>

<style lang="scss">
  @use "../../styles/utils";

  .card-user {
    --__user-color: var(--user-color, var(--mantle));

    @include utils.containerPadding(md);
    border-radius: var(--border-radius-large);
    background-color: var(--mantle);
    text-align: center;

    img {
      border-radius: 50%;
      border: var(--space-xxs) solid var(--__user-color);
    }

    .placeholder {
      text-decoration: line-through;
    }
  }
</style>
