---
import type { ColorName } from "@catppuccin/palette";

interface Props {
  list: string[];
  color?: ColorName;
}

const { list } = Astro.props;
---

<ul class="pill-list">
  {list.map((entry) => <li class="pill">{entry}</li>)}
</ul>

<style lang="scss">
  @use "../../styles/utils";

  .pill-list {
    display: flex;
    gap: var(--space-xs);
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    line-height: 1;
    list-style: none;
  }

  .pill {
    @include utils.containerPadding(xxs-y);

    border-radius: 9999px;
    background-color: color-mix(in srgb, var(--base), var(--subtext0) 20%);

    font-size: 80%;
  }
</style>
