---
import LayoutWithClampedFooter from "../layouts/LayoutWithClampedFooter.astro";
import { getCollection } from "astro:content";
import PageIntro from "../components/PageIntro.astro";
import ArticleCard from "../components/cards/Article.astro";

const description = "Blog posts about Catppuccin, ranging from announcements, devlogs, general musings and more!";
const blogPosts = await getCollection("blog");
---

<LayoutWithClampedFooter title="Blog • Catppuccin" {description}>
  <PageIntro title="Blog">
    <p>{description}</p>
  </PageIntro>

  <section class="bloglist">
    <main class="articles">
      {blogPosts.map((post) => <ArticleCard {post} />)}
    </main>
  </section>
</LayoutWithClampedFooter>

<style lang="scss">
  @use "../styles/utils";

  :root {
    --accent-color: var(--blue);
  }

  .bloglist {
    @include utils.flex($direction: column, $gap: var(--space-md));
  }

  .articles {
    grid-area: articles;
    @include utils.flex($direction: row, $gap: var(--space-md));
  }
</style>
