---
import Layout from "../layouts/Layout.astro"

import Link from "../components/Link.astro"
import PageIntro from "../components/PageIntro.astro"
import Annotation from "../components/Annotation.astro"

import { CatppuccinLinks as links } from '../contents/CatppuccinLinks'
---


<Layout
  title="Contributing"
  description="🎉 First off, thanks for taking the time to contribute! 🎉"
>


  <PageIntro title="Contributing to Catppuccin">

    <p>🎉 First off, thanks for taking the time to contribute! 🎉</p>

  </PageIntro>


  <section class="contribution-guidelines">
    <h2>Guidelines</h2>
    <p>The following is a set of guidelines for contributing to this repository. Use your best judgment, and feel free to propose changes to this document in a pull request.</p>
    <ol>
      <li>Use the .editorconfig file (located at the root of every project) on your editor to "maintain consistent coding styles." For instructions on how to use this file refer to <Link href="https://editorconfig.org/" external>EditorConfig's website</Link>.</li>
    </ol>
  </section>

  <section class="contribution-recommendations">
    <h2>Recommendations</h2>
    <ol>
      <li>Create a <Link href="" external>topic branch</Link> on your fork for your specific PR.</li>
      <li>Consider using <Link href="https://www.conventionalcommits.org/en/v1.0.0/" external>conventionalcommits.org's</Link> rules for creating explicit and meaningful commit messages.</li>
      <li>If it's your first time contributing to a project then you should look to the popular <Link href="https://github.com/firstcontributions/first-contributions" external>first-contributions</Link> repository on GitHub. This will give you hands-on experience with the features of GitHub required to make a contribution. As always, feel free to join our <Link href={links.discord} external>Discord</Link> to ask any questions and clarify your understanding, we are more than happy to help!</li>
    </ol>
  </section>

  <section class="contribution-port-creation">

    <h2>Port Creation</h2>

    <p>
      <b>What is a port?</b><br>
      A port is an adaptation of Catppuccin's palette for an app to use. Think of it as a colorscheme for a program that styles every UI component it consists of!
    </p>

    <p>
      <b>What's a userstyle?</b><br>
      A userstyle is, in the context of Catppuccin, a port for a website which is themed via <Link href="https://github.com/openstyles/stylus" external>Stylus</Link>, you can view all of Catppuccin's userstyles at <Link href="https://github.com/catppuccin/userstyles" external>catppuccin/userstyles</Link>.<br>
      <Annotation>
        All userstyles are ports, but not all ports are userstyles.
      </Annotation>
    </p>


    <h2>Submission</h2>

    <Annotation>
      All ports should conform to our <Link href="https://github.com/catppuccin/.github/blob/main/CODE_OF_CONDUCT.md" external>Code of Conduct</Link> and we, the staff team, reserve the right to choose what ports will be included under the organization.
    </Annotation>


    <h3>FAQ</h3>

    <p><b>Read through the following headings to ensure that you're adhering to our submission guidelines!</b></p>

    <p>
      <b>Q. I have a port that is already themed and ready for review!</b><br>
      <b>A.</b>  Port reviews can be raised as an issue <Link href="https://github.com/catppuccin/catppuccin/issues/new?assignees=&template=port+review.yml&title=Name+of+the+application%2Ftool%2Fwebsite%2Fetc." external>here</Link> since the port is already themed and ready to be reviewed by our <Link href="https://github.com/catppuccin/community/#current-structure" external>staff team</Link>!
    </p>

    <p>
      <b>Q. I have a userstyle that is already finished and ready for review!</b><br>
      <b>A.</b>  Finished userstyles should be raised via a <Link href="https://github.com/catppuccin/userstyles/compare">pull request</Link> to <Link href="https://github.com/catppuccin/userstyles/compare">catppuccin/userstyles</Link>. You can find further information onhow to contribute userstyles <Link href="https://github.com/catppuccin/userstyles/blob/main/docs/userstyle-creation.md" external>here</Link>.
    </p>

    <p>
      <b>Q. I have a request for a port to be included and/or I've started working on it!</b><br>
      <b>A.</b>  Raise a discussion under main repository <Link href="https://github.com/catppuccin/catppuccin/discussions/new?category=port-requests">here</Link>! The discussion will be transferred to an issue by the <Link href="https://github.com/catppuccin/community/#current-structure" external>staff team</Link> once we have deemed the port ready to be reviewed! Feel free to join our <Link href={links.discord}>Discord</Link> and share it there too!
    </p>

    <p>
      <b>Q. What types of ports won't be accepted?</b><br>
      <b>A.</b>  As a community-driven project, we want to keep a neutral environment for all users. Therefore, <b>we do not accept contributions that have a religious or political context.</b> However, we have no issue with our palette being used in these contexts.
    </p>


  <h3 id="creation">Creation</h3>

  <Annotation>
    You can create ports using <Link href="https://github.com/catppuccin/template" external>this public template</Link> as a blueprint.
  </Annotation>

  <ol>
    <li>
      Clone template repository<br>
     <code>git clone https://github.com/catppuccin/template.git &lt;name_of_your_port&gt;</code>
    </li>
    <li>
      Navigate into the cloned repository<br>
      <code>cd &lt;name_of_your_port&gt;</code>
    </li>
    <li>
      Delete the <code>.git</code> folder at the root of the repository and run <code>git init</code>. This removes the template authors from appearing as contributors to your new port.
    </li>
    <li>
      Set up the rest of your port, and push it to your user repository!
    </li>
  </ol>


  <h3>Styling</h3>

  <p>After creating the repo successfully, it's important to style it properly to ensure consistency:</p>

  <ul>
    <li>The name of the repo must be the app's name in <code>lower-kebab-case</code> (e.g. <code>unreal-engine</code> instead of <code>Unreal Engine</code>).</li>
    <li>Ensure that the default branch is set to <code>main</code>. This ensures that the repository is consistent with other ports across the organization.</li>
    <li>Put the images under <code>assets/</code>.
      <ul>
        <li>Prefer <code>.webp</code> over <code>.png</code> for images. <code>.webp</code> is a more efficient format and is supported by all major browsers.</li>
      </ul>
    </li>
    <li>Format the repo's description as "<code>&lt;emoji&gt;</code> Soothing pastel theme for <code>&lt;app name&gt;</code>".
      <ul>
        <li><code>&lt;emoji&gt;</code> should be an emoji that you feel represents the app best.</li>
        <li><code>&lt;app name&gt;</code> is the name of the app, capitalized properly.</li>
      </ul>
    </li>
    <li>Add <code>catppuccin</code>, <code>theme</code>, and the name of the application (e.g. <code>unreal-engine</code>) to the topics.</li>
    <li>Ensure that you have generated the repository following the <Link href="#creation" external>creation</Link> steps.</li>
    <li>Ensure that the port README.md is styled appropriately following the steps below:
      <ul>
        <li>Update <Link href="https://shields.io/" external>shields.io</Link> badges to point towards your repository link instead of the template repository.</li>
        <li>The main preview image should be an image generated by <Link href="https://github.com/catppuccin/toolbox#-catwalk" external>catwalk</Link>.</li>
        <li>Add yourself to the <b>Thanks to</b> section &lt;3</li>
      </ul>
    </li>
    <li>Ensure uppercase meta files (e.g. <code>README.md</code>)</li>
    <li>Don't add health files (e.g. <code>CODE_OF_CONDUCT.md</code>, <code>SUPPORT.md</code>), those are organization-wide files stored <Link href="https://github.com/catppuccin/.github" external>here</Link>.</li>
  </ul>


  <h3>Maintenance</h3>

  <p>The staff team wants to let you know that we understand submitting a port may feel overwhelming. But don't worry, <b>we don't expect you to keep maintaining your port after it's been transferred to us</b>. We would love for you to continue helping out, but we understand if that's not possible.</p>
  <p>When you submit your port to be transferred, think of it as offering it up for co-maintenance. This means you'll work with the staff team to maintain the port together! Our main focus will be to maintain consistent quality and accessibility standards across all ports. We'll also provide feedback on ways to improve your port and help fix any technical issues.</p>


  <h3>Licensing</h3>

  <p>Any contribution will be published under the same licensing terms (MIT) as the project itself. However, there are <Link href="https://github.com/search?q=org%3Acatppuccin+-license%3Amit" external>exceptions to this rule</Link>. Please get in touch with us, if the application you're theming has licensing restrictions, or your work is a derivative of a stricter license (e.g. <Link href="https://github.com/catppuccin/cursors#info" external>cursors</Link>).</p>

  </section>


  <section class="contribution-tools">

    <h2>Tools</h2>
    <p>Since Catppuccin is available in 4 flavors it's understandable that it may be difficult to make 4 versions of a port. So to help with that, we have built a bunch of tools to make life easier when creating Catppuccin ports. You'll find them all (with instructions) under our <Link href="https://github.com/catppuccin/toolbox" external>catppuccin/toolbox</Link> repo. An essential tool for creating ports is <Link href="https://github.com/catppuccin/toolbox#-catwalk" external>catwalk</Link>, this is used to create a layered screenshot of your port which combines all four flavors into one.</p>

  </section>

</Layout>





<style lang="scss">

  :root { --accent-color: var(--green); }

</style>
