---
import Home from "../layouts/Home.astro"

import Illustration from '../components/LaptopIllustration.astro'
import PhosphorIcon from '../components/PhosphorIcon.astro'
---


<Home
  title="Catppuccin"
  description="Soothing pastel theme for the high-spirited."
>


  <div slot="hero-content" class="hero-content">
    <h1>Soothing pastel theme for the <nobr>high-spirited!</nobr></h1>
    <p>A community-driven color scheme meant for coding, designing, and much more!</p>
    <div class="btn-group">
      <a href="/ports">
        <button class="btn btn-has-icon btn-peach">
          <PhosphorIcon icon="box" />
          Discover Ports
        </button>
      </a>
      <a href="/palette">
        <button class="btn btn-has-icon btn-mauve">
          <PhosphorIcon icon="palette" />
          Explore Colors
        </button>
      </a>
    </div>
  </div>

  <Illustration slot="hero-image" />

</Home>





<style lang="scss">

  :root { --accent-color: var(--rosewater); }

  h2 { color: var(--accent-color); }

</style>
