---
import Landing from "@layouts/Landing.astro";
import LaptopIllustration from "./_components/LaptopIllustration.astro";
import { Icon } from "astro-icon/components";
---

<Landing
  title="Catppuccin"
  description="A soothing pastel theme for the high-spirited! We are a community-driven color scheme, perfect for coding, designing, and more. Explore our color palettes, discover our wide range of ports, and view our vibrant community.">
  <div slot="hero-content" class="hero-content">
    <h1>Soothing pastel theme for the <nobr>high-spirited!</nobr></h1>
    <p>A community-driven color scheme meant for coding, designing, and much more!</p>
    <div class="btn-group">
      <a href="/ports" class="btn btn-has-icon btn-peach" role="button">
        <Icon name="ph:cube-fill" width={24} height={24} />
        Discover Ports
      </a>
      <a href="/palette" class="btn btn-has-icon btn-mauve" role="button">
        <Icon name="ph:palette-fill" width={24} height={24} />
        Explore Colors
      </a>
      <a href="/community" class="btn btn-has-icon btn-green" role="button">
        <Icon name="ph:users-three-fill" width={24} height={24} />
        View Community
      </a>
      <a href="/blog" class="btn btn-has-icon btn-blue" role="button">
        <Icon name="ph:article-fill" width={24} height={24} />
        Read Blog
      </a>
    </div>
  </div>

  <LaptopIllustration slot="hero-image" />
</Landing>

<style lang="scss">
  :root {
    --accent-color: var(--rosewater);
  }

  h2 {
    color: var(--accent-color);
  }
</style>
