---
import Home from "../layouts/Home.astro"

import Illustration from '../components/LaptopIllustration.astro'
---


<Home
  title="Catppuccin"
  description="Soothing pastel theme for the high-spirited."
>


  <div slot="hero-content" class="hero-content">
    <h1>Soothing pastel theme for the <nobr>high-spirited!</nobr></h1>
    <p>A community-driven color scheme meant for coding, designing, and much more!</p>
    <div class="btn-group">
      <a href="/ports">
        <button class="btn btn-peach">
          Discover Ports
        </button>
      </a>
      <a href="/palette">
        <button class="btn btn-mauve">
          Explore Colors
        </button>
      </a>
    </div>
  </div>

  <Illustration slot="hero-image" />

</Home>





<style lang="scss">

  :root { --accent-color: var(--rosewater); }

  h2 { color: var(--accent-color); }


  .project-info {

    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-m);

  }

</style>
