---
import Landing from "@layouts/Landing.astro";
import Button from "@components/Button.svelte";
import LaptopIllustration from "./_components/LaptopIllustration.astro";
---

<Landing
  title="Catppuccin"
  description="A soothing pastel theme for the high-spirited! We are a community-driven color scheme, perfect for coding, designing, and more. Explore our color palettes, discover our wide range of ports, and view our vibrant community.">
  <div slot="hero-content" class="hero-content">
    <h1>Soothing pastel theme for the <nobr>high-spirited!</nobr></h1>
    <p>A community-driven color scheme meant for coding, designing, and much more!</p>
    <div class="btn-group">
      <a href="/ports">
        <Button style="peach" phIconName="cube-fill"> Discover Ports </Button>
      </a>
      <a href="/palette">
        <Button style="mauve" phIconName="palette-fill"> Explore Palettes </Button>
      </a>
      <a href="/community">
        <Button style="green" phIconName="users-three-fill"> View Community </Button>
      </a>
      <a href="/blog">
        <Button style="blue" phIconName="article-fill"> Read Blog </Button>
      </a>
    </div>
  </div>

  <LaptopIllustration slot="hero-image" />
</Landing>

<style lang="scss">
  :root {
    --accent-color: var(--rosewater);
  }

  h2 {
    color: var(--accent-color);
  }

  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
</style>
