---
import Home from "@layouts/Home.astro";

import Illustration from "@components/svgs/LaptopIllustration.astro";
import { Icon } from "astro-icon/components";
---

<Home
  title="Catppuccin"
  description="A soothing pastel theme for the high-spirited! We are a community-driven color scheme, perfect for coding, designing, and more. Explore our color palettes, discover our wide range of ports, and view our vibrant community.">
  <div slot="hero-content" class="hero-content">
    <h1>Soothing pastel theme for the <nobr>high-spirited!</nobr></h1>
    <p>A community-driven color scheme meant for coding, designing, and much more!</p>
    <div class="btn-group">
      <a href="/ports">
        <button class="btn btn-has-icon btn-peach">
          <Icon name="ph:cube-fill" />
          Discover Ports
        </button>
      </a>
      <a href="/palette">
        <button class="btn btn-has-icon btn-mauve">
          <Icon name="ph:palette-fill" />
          Explore Colors
        </button>
      </a>
      <a href="/community">
        <button class="btn btn-has-icon btn-green">
          <Icon name="ph:users-three-fill" />
          View Community
        </button>
      </a>
      <a href="/blog">
        <button class="btn btn-has-icon btn-blue">
          <Icon name="ph:article-fill" />
          Read Blog
        </button>
      </a>
    </div>
  </div>

  <Illustration slot="hero-image" />
</Home>

<style lang="scss">
  :root {
    --accent-color: var(--rosewater);
  }

  h2 {
    color: var(--accent-color);
  }
</style>
