---
import { ports } from "../lib/ports";

import Layout from "../layouts/Layout.astro";

import PageIntro from "../components/PageIntro.astro";
import PortExplorer from "../components/PortExplorer.svelte";
import PortCard from "../components/cards/Port.svelte";
import Link from "../components/Link.astro";
---

<Layout
  title="Ports • Catppuccin"
  description="Explore Catppuccin's extensive range of ports. From applications and tools to websites, we have a port for just about anything!">
  <PageIntro title="Ports">
    <p>
      Catppuccin offers ports for all sorts of different applications, tools, websites and just about anything that
      comes to your mind!
    </p>
    <p>Total Ports: <strong>{ports.length}</strong></p>
  </PageIntro>

  <!-- Display ports without search bar for browsers without JavaScript enabled -->
  <noscript>
    <div class="port-grid">
      {ports.map((port) => <PortCard {port} />)}
    </div>
  </noscript>

  <PortExplorer {ports} client:only="svelte">
    <svelte:fragment slot="no-results">
      <p>Sorry, we couldn't find any ports matching your search :(</p>
      <p>
        You can request a port to be themed by raising a
        <Link
          href="https://github.com/catppuccin/catppuccin/discussions/new?category=port-requests"
          external
          slot="link">port request in catppuccin/catppuccin</Link
        >
        .
      </p>
    </svelte:fragment>
  </PortExplorer>
</Layout>

<style lang="scss" is:global>
  @use "../styles/utils";

  :root {
    --accent-color: var(--peach);
  }

  // Allows us to clamp the footer to the bottom of the page
  // I'm sorry lemon, I didn't know how to do this without using flexbox
  body {
    display: flex;
    flex-direction: column;
  }

  // Need to put it here because `margin-top: auto` can't be used with `margin-block-start`
  .main-container {
    margin-block-end: var(--space-xl);
    min-height: 100vh;
  }

  .footer-container {
    margin-top: auto;
  }

  .port-grid {
    @include utils.grid($column: 250px, $gap: var(--space-md));
  }
</style>
