---
import type { ColorName } from "@catppuccin/palette";

import Layout from "../layouts/Layout.astro";

import PageIntro from "../components/PageIntro.astro";
import PortCard from "../components/cards/Port.astro";

export type Category = {
  key: string;
  name: string;
  description: string;
  emoji: string;
}

type Platform = "android" | "windows" | "ios" | "linux" | "macos";

type Link = {
  name: string;
  color: string;
  icon: string;
  url: string;
}

export type Port = {
  categories: string[];
  name: string;
  platform: Platform[];

  color?: ColorName;
  icon?: string;
  alias?: string;
  url?: string;
  links?: Link[];
  upstreamed?: boolean;
}

import { parse } from "yaml";
const portsYAML = await fetch("https://raw.githubusercontent.com/catppuccin/catppuccin/main/resources/ports.yml").then(
  (r) => r.text(),
);

const ports = parse(portsYAML).ports as Record<string, Port>;
const categories = parse(portsYAML).categories as Array<Category>;
---

<Layout title="Ports • Catppuccin" description={`All Catppuccin ports.`}>
  <PageIntro title="Ports">
    <p>
      Catppuccin offers ports for all sorts of different applications, tools, websites and just about anything that
      comes to your mind!
    </p>
  </PageIntro>

  <section class="port-list">
    <div class="port-grid">
      {
        Object.entries(ports).map(([slug, fields]) => (
          <PortCard
            title={fields.name}
            link={fields.url || `https://github.com/catppuccin/${fields.alias || slug}`}
            categories={fields.categories.map(
              (portCategory) => categories.find(({ key }) => key == portCategory) as Category,
            )}
            color={fields.color}
          />
        ))
      }
    </div>
  </section>
</Layout>

<style lang="scss" is:global>
  :root {
    --accent-color: var(--peach);
  }

  .port-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--space-md);
  }
</style>
