---
import { repositories } from "../lib/ports";

import Layout from "../layouts/Layout.astro";

import PageIntro from "../components/PageIntro.astro";
import Search from "../components/PortGrid.svelte";
import Link from "../components/Link.astro";
---

<Layout
  title="Ports • Catppuccin"
  description="Explore Catppuccin's extensive range of ports. From applications and tools to websites, we have a port for just about anything!">
  <PageIntro title="Ports">
    <p>
      Catppuccin offers ports for all sorts of different applications, tools, websites and just about anything that
      comes to your mind!
    </p>
  </PageIntro>

  <Search client:only="svelte" ports={repositories}>
    <p slot="no-results">
      Sorry! This port doesn't exist at the minute. To request a port to be themed, create a
      <Link href="https://github.com/catppuccin/catppuccin/discussions/new?category=port-requests" external slot="link"
        >Port Request in catppuccin/catppuccin</Link
      >
      .
    </p>
  </Search>
</Layout>

<style lang="scss">
  @use "../styles/utils";

  :root {
    --accent-color: var(--peach);
  }
</style>
