---
import Layout from "../layouts/Layout.astro";

import PageIntro from "../components/PageIntro.astro";
import PortCard from "../components/CardPort.astro";

import { CatppuccinLinks as links } from "../contents/CatppuccinLinks";

import { parse } from "yaml";
import { isObjectLiteralExpression } from "typescript";
// const portsYAML = await fetch("https://unseen.ninja/ctp/ports.yml").then((r) => r.text());
const portsYAML = await fetch(
  "https://raw.githubusercontent.com/catppuccin/catppuccin/main/resources/ports.yml",
).then((r) => r.text());

const ports = parse(portsYAML).ports as Record<string, Port>;
const categories = parse(portsYAML).categories as Array<Category>;
---

<Layout title="Ports • Catppuccin" description={`All Catppuccin ports.`}>
  <PageIntro title="Ports">
    <p>
      Catppuccin offers ports for all sorts of different applications, tools,
      websites and just about anything that comes to your mind!
    </p>
  </PageIntro>

  <section class="port-list">
    <div class="port-grid">
      {
        Object.entries(ports).map(([slug, fields]) => (
          <PortCard
            title={fields.name}
            link={`https://github.com/catppuccin/${fields.alias || slug}`}
            categories={fields.categories.map(
              (portCategory) =>
                categories.find(({ key }) => key == portCategory) as Category,
            )}
            color={fields.color}
          />
        ))
      }
    </div>
  </section>
</Layout>

<style lang="scss" is:global>
  :root {
    --accent-color: var(--blue);
  }

  .port-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--space-md);
  }
</style>
