---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contributing • Catppuccin" description="🎉 First off, thanks for taking the time to contribute! 🎉">
  <h1>H1 Lorem Ipsum dolor sit happens…</h1>
  <h2>H2 Lorem Ipsum dolor sit happens…</h2>
  <p>
    <strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</strong> Alias repellendus magni natus reiciendis quisquam
    corrupti voluptatibus saepe optio, maiores tenetur praesentium iste deleniti deserunt cumque voluptas quod labore, molestias
    voluptatum. Eligendi saepe, qui recusandae id ullam neque nulla delectus labore, eum provident, necessitatibus exercitationem
    repudiandae quis non accusantium cum dolore maiores veritatis quo nihil ut dolores voluptatum in! Cupiditate aliquid,
    est laborum modi expedita iure, optio, non provident numquam distinctio totam placeat quaerat vitae assumenda architecto
    nam voluptate. Ratione velit temporibus veritatis ad ipsa nam alias facere sunt, error numquam est quam asperiores laudantium
    atque deserunt praesentium iure enim neque!
  </p>
  <p>
    <em>Lorem ipsum dolor sit amet consectetur adipisicing elit.</em> Quas pariatur nemo at, provident nihil totam architecto,
    sequi id, vero labore doloribus excepturi deleniti impedit. Blanditiis dolor temporibus officia facilis provident?
  </p>
  <h3>H3 Lorem Ipsum dolor sit happens…</h3>
  <p>
    <code>Lorem ipsum</code> dolor sit amet consectetur adipisicing elit. Reprehenderit, iste cupiditate, culpa excepturi
    facilis maiores aspernatur qui vero accusantium ut, sint dignissimos eos! Officia cumque eos debitis porro. Laudantium
    odit praesentium nam deleniti tempore mollitia, minima alias quae reprehenderit. Nihil est quasi ducimus deserunt iure
    maiores recusandae aspernatur, error magnam!
  </p>
  <pre><code>from typing import List
def decorator(param):
  pass
</code></pre>
  <h4>H4 Lorem Ipsum dolor sit happens…</h4>
  <ul>
    <li>Lorem ipsum dolor sit amet consectetur.</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, ratione?</li>
  </ul>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolor doloribus quam exercitationem eos temporibus
    autem consequatur qui aperiam fugit!
  </p>
</Layout>

<style lang="scss">
  :root {
    --accent-color: var(--green);
  }
</style>
