---
import Layout from "../layouts/Layout.astro"
---


<Layout
  title="Contributing • Catppuccin"
  description="🎉 First off, thanks for taking the time to contribute! 🎉"
>

<h1>Lorem Ipsum dolor sit happens…</h1>
<h2>Lorem Ipsum dolor sit happens…</h2>
<h3>Lorem Ipsum dolor sit happens…</h3>
<h4>Lorem Ipsum dolor sit happens…</h4>
<h5>Lorem Ipsum dolor sit happens…</h5>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias repellendus magni natus reiciendis quisquam corrupti voluptatibus saepe optio, maiores tenetur praesentium iste deleniti deserunt cumque voluptas quod labore, molestias voluptatum. Eligendi saepe, qui recusandae id ullam neque nulla delectus labore, eum provident, necessitatibus exercitationem repudiandae quis non accusantium cum dolore maiores veritatis quo nihil ut dolores voluptatum in! Cupiditate aliquid, est laborum modi expedita iure, optio, non provident numquam distinctio totam placeat quaerat vitae assumenda architecto nam voluptate. Ratione velit temporibus veritatis ad ipsa nam alias facere sunt, error numquam est quam asperiores laudantium atque deserunt praesentium iure enim neque!</p>

</Layout>





<style lang="scss">

  :root { --accent-color: var(--green); }


  h1, h2, h3, h4, h5 { background: pink; }
  h2, h4 { background: lightblue }

</style>
