<div class="accent-bar">
</div>





<style lang="scss">

  .accent-bar {

    display: grid;
    grid-template-columns: repeat(14, 1fr);

    width: 100%; height: 8px;

    background-color: var(--mauve);
    background-image: linear-gradient(
      90deg,
      var(--rosewater),
      var(--flamingo),
      var(--pink),
      var(--mauve),
      var(--red),
      var(--maroon),
      var(--peach),
      var(--yellow),
      var(--green),
      var(--teal),
      var(--sky),
      var(--sapphire),
      var(--blue),
      var(--lavender),
    );

  }

</style>
