---
interface Props {
  href: string,
  external?: boolean,
  muted?: boolean
}

const { href, external = false, muted = false } = Astro.props
---


<a href={href} class:list={[
  `${external ? 'external' : ''}`,
  `${muted ? 'muted' : ''}`
]}>
  <slot />
</a>





<style lang="scss">

  a {

    transition: color 250ms ease-in-out;

    color: var(--blue);


    &.muted { color: var(--subtext0); }


    &:hover,
    &:focus {

      color: color-mix(
        in srgb,
        var(--blue),
        var(--text) 60%
      )

    }

  }



  .external::after {

    content: '\2197';

    font-size: 60%; font-weight: 900;
    vertical-align: super;

  }

</style>
