---
import type { ColorName } from "@catppuccin/palette";
import { Icon } from "astro-icon/components";

interface Props {
  team: string;
  color: ColorName;
}

const { team, color } = Astro.props as Props;
---

<span class="team-title" data-flavor={team}>
  <slot />
  <span style={`color: var(--${color}, currentColor);`}>
    <Icon name=`org/${team}` } />
  </span>
</span>

<style lang="scss">
  .team-title {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--space-xs);
    text-transform: capitalize;
  }
  .team-icon {
    height: 3.2rem;
    fill: currentColor;
  }
  [data-flavor="core"] .team-icon {
    color: var(--teal);
  }
  [data-flavor="userstyles-staff"] .team-icon {
    color: var(--mauve);
  }
  [data-flavor="mod"] .team-icon {
    color: var(--peach);
  }
  [data-flavor="userstyles"] .team-icon {
    color: var(--green);
  }
</style>
