---
import maintainersWithoutAvatars from "@data/maintainers/maintainersWithoutAvatars.json";

import ProfilePicture from "@components/ProfilePicture.svelte";

interface Props {
  url: string;
  name: string;
}

const { name, url } = Astro.props;
const username = url.split("/").pop() as string;
const isPlaceholder = (maintainersWithoutAvatars as string[]).includes(username);
---

<a href={url} class="card-user">
  <ProfilePicture {username} size={256} wxh={128} />
  <br />
  <span class=`user-name ${isPlaceholder ? "placeholder" : ""}`>{name}</span>
</a>

<style lang="scss">
  @use "@styles/utils";

  .card-user {
    @include utils.containerPadding(md);
    border-radius: var(--border-radius-large);
    background-color: var(--mantle);
    text-align: center;

    img {
      border-radius: 50%;
    }

    .placeholder {
      text-decoration: line-through;
    }
  }
</style>
