---
import Link from "../../components/Link.svelte";
import PoweredByVercel from "../../components/svgs/PoweredByVercel.astro";
import Volume from "../../components/svgs/Volume.astro";

import { footer as navLinkList } from "../../data/navigation";
---

<footer>
  {
    navLinkList.map(({ categoryTitle, categoryLinks }) => (
      <nav>
        <p>
          <strong>{categoryTitle}</strong>
        </p>
        <ul>
          {categoryLinks.map(({ title, target, external }) => (
            <li>
              <Link href={target} {external}>
                {title}
              </Link>
            </li>
          ))}
        </ul>
      </nav>
    ))
  }

  <div class="rights-notice">
    <div>
      <p><strong>Catppuccin</strong></p>
      <p class="divider">•</p>
      <span>/ˌkætpʊˈtʃiːn/</span>
      <button
        class="play-pronunciation"
        aria-label="Play pronunciation"
        onclick="document.querySelector('#pronunciation').play();">
        <Volume />
      </button>
      <audio id="pronunciation"><source src="/pronunciation.mp3" type="audio/mpeg" /></audio>
    </div>
    <p>catppuccin.com is built and maintained by the community under the MIT license.</p>
    <p>
      &copy; {new Date(Date.now()).getFullYear()} • <Link href="/licensing" muted>Licensing</Link>
    </p>
    <Link href="https://vercel.com/?utm_source=Catppuccin&utm_campaign=oss">
      <PoweredByVercel />
    </Link>
  </div>

  <style lang="scss">
    @use "../../styles/utils";

    footer {
      @include utils.flex($gap: var(--space-md));
      justify-content: space-between;

      font-size: 1.6rem;
      color: var(--subtext0);
    }

    nav ul {
      margin: 0 0 var(--space-xs) 0;
      padding: 0;
      list-style: none;
    }

    .rights-notice {
      max-width: 40ch;
      div {
        display: flex;
      }
    }

    .divider {
      margin-right: 1ch;
      margin-left: 1ch;
    }

    .play-pronunciation {
      border: none;
      background: none;
      color: inherit;
      align-self: baseline;

      &:hover {
        cursor: pointer;
      }
    }
  </style>
</footer>
