---
import Logo from "../../components/svgs/Logo.astro";

import { navigationLinks } from "../../data/links";
---

<header>
  <nav id="main-navigation">
    <a href="/" class="nav-logo" aria-label="Home">
      <Logo type="icon" color="mauve" height={4} />
    </a>

    <ul>
      {
        navigationLinks.map(({ title, target, accent }) => (
          <li>
            <a href={target} style={`--accent-colour: var(--${accent});`} class="nav-link">
              {title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style lang="scss">
  header {
    --spacing-nav: var(--space-sm);
  }

  #main-navigation {
    display: flex;
    align-items: center;
    gap: var(--spacing-nav);
  }

  .nav-logo {
    width: 4rem;
    height: 4rem;
  }

  ul {
    display: flex;
    gap: var(--spacing-nav);

    margin: 0;
    padding: 0;

    list-style: none;

    li {
      margin: 0;
      padding: 0;
    }
  }

  .nav-link {
    --__accent-colour: var(--accent-colour, var(--mauve));

    position: relative;

    font-size: clamp(16px, 3.2vw, 80%);
    font-weight: 600;
    color: var(--text);

    &::after {
      content: "";

      transition: transform 200ms ease-in-out;
      transition-delay: 200ms;

      position: absolute;
      bottom: -6px;
      left: 0;
      transform: scaleX(0);
      transform-origin: top right;

      width: 20px;
      height: 3px;

      background: var(--__accent-colour);
    }

    &:hover::after {
      transition-delay: 10ms;

      transform: scaleX(1);
      transform-origin: top left;
    }
  }
</style>
