---
import type { AccentName } from "@catppuccin/palette";

import Skeleton from "./Skeleton.astro";

import Head from "./components/Head.astro";
import Footer from "./components/Footer.astro";
import AccentBar from "./components//AccentBar.astro";

import LogoText from "@data/icons/logo-text.svg";
import Logo from "@data/icons/logo.svg";

interface Props {
  title: string;
  description: string;
  ogImage?: string;
  accent?: AccentName;
}

const { title, description, ogImage, accent } = Astro.props;
---

<Skeleton>
  <Head slot="seo" title={title} description={description} ogImage={ogImage} accent={accent} />
  <div id="hero">
    <div class="content-wrapper no-padding hero-grid">
      <div class="hero-content-wrapper">
        <div class="hero-logo">
          <Logo height={40} />
          <LogoText fill="var(--mauve)" height={30} />
        </div>
        <slot name="hero-content" />
      </div>

      <div class="hero-image">
        <slot name="hero-image" />
      </div>
    </div>
  </div>

  <section class="footer-container">
    <div class="content-wrapper">
      <Footer />
    </div>
    <AccentBar />
  </section>
</Skeleton>

<style lang="scss" is:global>
  @use "@styles/utils" as *;

  .content-wrapper {
    container-type: inline-size;
    container-name: content-wrapper;
    width: 100%;
    max-width: calc(2 * var(--padding-body) + var(--website-max-width));
    margin-inline: auto;
    padding: space(md) var(--padding-body);
  }

  .footer-container {
    margin-block-start: var(--space-xl);
    background-color: var(--mantle);
  }

  #hero {
    background-color: color-mix(in srgb, var(--base), var(--mauve) 10%);
    background-image: linear-gradient(
      120deg,
      color-mix(in srgb, var(--base), var(--peach) 5%),
      color-mix(in srgb, var(--base), var(--mauve) 10%)
    );

    @media (prefers-color-scheme: dark) {
      background-color: color-mix(in srgb, var(--base), var(--mantle) 30%);
      background-image: none;
    }

    + .footer-container {
      margin-block-start: 0;
    }
  }

  .hero-logo {
    @include flex($gap: var(--space-sm));
    align-items: center;

    svg + svg {
      margin-block-start: 6px;
    }

    /*  The SVG is playing the animation by default; To avoid a
     *  constantly playing animation the playstate is set to paused.
     */
    svg:nth-child(1) * {
      animation-play-state: paused;
    }

    /*  Start playing the animation again on hover. */
    &:hover svg:nth-child(1) * {
      animation-play-state: running;
    }
  }

  .hero-grid {
    @include flex($direction: column, $gap: var(--space-lg));
    justify-content: space-between;
    flex-wrap: nowrap;

    min-height: 100svh;

    @media (min-width: 800px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      padding-block: 0;
    }
  }

  .hero-content-wrapper {
    display: grid;
    grid-template-rows: max-content auto;
    gap: var(--space-xl);
    container-type: inline-size;

    padding-block: var(--padding-body);
  }

  .hero-content {
    @include flex($direction: column, $gap: var(--space-md));
    justify-content: center;
    align-items: flex-start;

    line-height: 1.1;

    h1 {
      margin: 0;
      padding-block: 6px;

      background-image: linear-gradient(120deg, var(--peach), var(--mauve));
      background-clip: text;

      font-size: clamp(4rem, 4vw, 6rem);
      color: transparent;
    }

    p {
      line-height: 1.5;
    }
  }

  .hero-image {
    display: grid;
    place-items: center;
    container-type: inline-size;

    max-height: 40vh;

    svg {
      padding: var(--space-md);
    }

    @media (min-width: 800px) {
      max-height: 100vh;

      svg {
        @container (min-width: 400px) {
          padding-inline-start: var(--space-lg);
        }

        @container (min-width: 500px) {
          padding-inline-start: var(--space-xl);
        }
      }
    }
  }
</style>
