---
import "../styles/global.scss";

import Head from "./imports/Head.astro";
import Navigation from "./imports/Navigation.astro";
import Footer from "./imports/Footer.astro";

import AccentBar from "../components/AccentBar.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const isVercelProd = import.meta.env.VERCEL_PROD;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} />
  <body>
    <div id="toasts"></div>

    <section class="header-container">
      <div class="content-wrapper no-padding">
        <Navigation />
      </div>
    </section>

    <div class="content-wrapper main-container">
      <slot />
    </div>

    <section class="footer-container">
      <div class="content-wrapper no-padding">
        <Footer />
      </div>
      <AccentBar />
    </section>
  </body>
</html>

{isVercelProd && <script is:inline defer data-domain="catppuccin.com" src="https://p.catppuccin.com/js/script.js" />}
