---
// Use this layout when page content isn't enough to fill the screen.
// It ensures the footer is always just outside of the viewport.

import "../styles/global.scss";

import Head from "./imports/Head.astro";
import Navigation from "./imports/Navigation.astro";
import Footer from "./imports/Footer.astro";

import AccentBar from "../components/AccentBar.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const isVercelProd = import.meta.env.VERCEL_PROD;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} />
  <body>
    <div id="toasts"></div>

    <section class="header-container">
      <div class="content-wrapper no-padding">
        <Navigation />
      </div>
    </section>

    <div class="content-wrapper main-container">
      <slot />
    </div>

    <section class="footer-container">
      <div class="content-wrapper no-padding">
        <Footer />
      </div>
      <AccentBar />
    </section>
  </body>
</html>

{isVercelProd && <script is:inline defer data-domain="catppuccin.com" src="https://p.catppuccin.com/js/script.js" />}

<style lang="scss">
  @use "../styles/utils";

  :root {
    --accent-color: var(--peach);
  }

  // Allows us to clamp the footer to the bottom of the page
  // I'm sorry lemon, I didn't know how to do this without using flexbox
  body {
    display: flex;
    flex-direction: column;
  }

  // Need to put it here because `margin-top: auto` can't be used with `margin-block-start`
  .main-container {
    container-type: inline-size;
    margin-block-end: var(--space-xl);
    min-height: 100vh;
  }

  .footer-container {
    margin-top: auto;
  }
</style>
