---
import "@styles/global.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="darkreader-lock" />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <slot name="seo" />
  </head>
  <body>
    <slot />
  </body>
</html>
