---
import "@styles/global.scss";
---

<!doctype html>
<html lang="en" data-theme="system">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="darkreader-lock" />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" title="Catppuccin Blog" href={new URL("rss.xml", Astro.site)} />
    <slot name="seo" />
  </head>
  <body>
    <slot />
  </body>
  <script is:inline>
    const theme = localStorage.getItem("theme") || "system";
    document.documentElement.setAttribute("data-theme", theme);
  </script>
</html>
