@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html,
body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 8px;
  height:8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: 	#6E6C7E;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: 	#6E6C7E;
}
